*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@font-face
{
    font-family: side;

    src: url(../font/DancingScript-Regular.otf);
}

@font-face
{
    font-family: rou;

    src: url(../font/Fontfabric.otf);
}

@font-face
{
    font-family: avr;

    src: url(../font/AvenirLTStd-Book.otf);
}

@font-face
{
    font-family: lato;

    src: url(../font/lato-italic.ttf);
}

@font-face
{
    font-family: icon;

    src: url(../font/icons.ttf);
}

@font-face
{
    font-family: bla;

    src:url(../font/SourceHanSansCN-ExtraLight.otf)
}

@font-face
{
    font-family: Chao;

    src:url('../font/Chrobot.otf');
}

@font-face{
    font-family: cnX;

    src:url('../font/cnX.ttf')

}

@font-face{
    font-family: enY;

    src:url('../font/Inconsolata.otf')
}

@font-face{
    font-family: jpZ;

    src:url('../font/A-OTF-KyokaICAPro-Regular.otf')
}




html,
body
{
    width: 100%;
    height: 100%;

    animation: in .5s ease backwards;

    color: #FCFAF2;
}

@keyframes in
{
    0%
    {
        width: 80%;
        height: 80%;

        opacity: .5;
    }

    100%
    {
        width: 100%;
        height: 100%;

        opacity: 1;
    }
}


@keyframes loading
{
    0%
    {

    transform: rotate(0deg);
    }

    100%
    {
        
    transform: rotate(360deg);
    }
}

#layout
{
    width: 100%;
    height: 100%;
    position: relative;
}






.example-enter {
  opacity: 0.01;
  transform: translateZ(100%);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateZ(0);
/*  transition: all 200ms ease-in;*/
}

.example-leave {
  opacity: 1;
  display: none;
  transform: translateX(0);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  display: none;
  transform: translateX(100%);
/*  transition: all 200ms ease-out;*/
}


.tagAni-enter {
  opacity: 0.2;
  transform: translateY(50%);
}

.tagAni-enter.tagAni-enter-active {
  opacity: 1;
  transform: translateY(0);
/*  transition: all 200ms ease-in;*/
}

.tagAni-leave {
  opacity: 1;
  transform: translateY(0);
}

.tagAni-leave.tagAni-leave-active {
  opacity: 0.2;
  transform: translateY(-50%);
/*  transition: all 200ms ease-out;*/
}


/*#side{
    position: absolute;

    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: .87;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}*/

/*#side::after
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    background-image: url('../img/moon1.jpg');
    background-size: cover;

}*/

/*#side  span
{
    -webkit-app-region: no-drag;

}*/



#page
{
    position: absolute;
    top: 150px;
    left: 10px;

    width: 80px;

    background-color: white;
}







.main
{
    font-family: sans-serif;

    
    z-index: 2;
    right: 0;
    bottom: 0;

    overflow: hidden;


    height: calc(100vh - 40px);

    margin-left: 160px;

    background-color: rgba(244,247,252,.95);


    -webkit-app-region: no-drag;

    box-sizing: border-box;

    color: #1C1C1C;

    transition: all .2s;
    position: relative;
}

/*.main::after
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    background-image: linear-gradient(0deg, rgba(8, 8, 8, .01),rgba(29,36,48,.2));

    -webkit-filter: blur(1px);
            filter: blur(1px);
}*/

.app-bar{
    height: 40px;
    background: rgba(254,254,254,.98);
        -webkit-app-region: drag;
    display: flex;
    position: relative;
    margin-left: 160px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(8,8,8,.1);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,.6);
    z-index: 4;
}

.app-bar *{
    -webkit-app-region: no-drag;
}

.top-container{
    height: 100%;
    width: 120px;
    display: flex;
    position: absolute;
    right: 0;
}

.top-item{
    flex: 1 1 0;
    height: 100%;
    display: block;
    padding:10px;
    position: relative;
    cursor: pointer;
}

#top-search::after{
    content: '';
    position: absolute;
    background: url('../img/搜索.png');
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    transform: translate3d(-50%,50%,0);
}


.min{
    transition: all .2s;
}

.min >div {
    width: 100%;
    height: 100%;
    background: url('../img/min.png');
    background-position-x: 55%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s;
}

.min:hover{
    background: #91989F;
}

.min:hover > div{
    background: url('../img/min-w.png');
    background-position-x: 55%;
    background-size: contain;
    background-repeat: no-repeat;
}



.close{
    transition: all .3s;
}

.close >div {
    width: 100%;
    height: 100%;
    background: url('../img/close.png');
    background-position-x: 55%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s;
}

.close:hover{
    background: #D0104C;
}

.close:hover > div{
    background: url('../img/close-w.png');
    background-position-x: 55%;
    background-size: contain;
    background-repeat: no-repeat;
}


.sideBar{
    height: 100%;
    width: 160px;
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(48,51,60,1);
    overflow: hidden;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,.6);
}


.visiable{
    width: 0px
}

.visiable + div{
    margin-left: 0px;
}

.side-item{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: bla;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    padding: 10px 20px;
}

.side-item:hover{
/*    background: rgba(67,67,67,.5);*/
}


.item-active{
    background:rgba(38, 41, 48, 1);
    box-shadow: inset 0px 0px 6px rgba(0,0,0,.6);
}

.item-active::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(89,158,249,1);
}

#logo{
    height: 40px;
    font-family: Chao;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    user-select: none;
    cursor: context-menu;
}













.mainSection{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 0;

}

.banner{
    position: relative;
    height: 50px;
    margin: 10px;
    background-clip: content-box;
    box-shadow: 0px 0px 6px rgba(0,0,0,.6);
    display: flex;
    background: rgba(38,41,48,.9);
    align-items: center;
    justify-content: space-between;
    
}

.banner > *{
    z-index: 1;
}

.banner-item{
    
    flex: 1 1 0;
    color: rgba(252,252,252,1);
    text-align: center;
    font-family: cnx;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-item > input{
    display: none;
}

.banner-item input:checked + label{
    background: rgb(31,32,37);
}

.banner-item label{
    color: white;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-fresh{
    height: 100%;
    width: 50px;
    position: relative;
    cursor: pointer;
}

.banner-fresh::after{
    content: '';
    position: absolute;
    background-image: url('../img/刷新.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}


.veil{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(83,89,83,.85);
    display: flex;
    align-items: center;
    justify-content: center;
}

.veil p{
    color: rgba(248,248,248,1);
    position: relative;
    padding-top: 60px;
    text-align: center;
    font-size: larger;
}

.veil p::before{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border: 4px solid rgba(255,255,255,.15);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 50%;
    box-sizing: border-box;
}

.veil p::after{
    content: '';
    position: absolute;
    border: 4px solid;
    border-color: white transparent transparent transparent;
    width: 36px;
    height: 36px;
    animation: loading 2s linear infinite;
    top: 0;
    left: 50%;
    border-radius: 50%;
    margin: 0 0 0 -18px;
    box-sizing: border-box;
}


::-webkit-scrollbar
{
    width: 6px;
    height: 9px;

    background: white;
}

::-webkit-scrollbar-thumb
{
    border: 1px solid white;
    border-radius: 6px;
    background-color: #0f2540;
}


.poll{
    display: flex;
    /* height: 100vh; */
     width: 100%; 
/*    background: #A5DEE4;*/
    flex-direction: row;
}


.column{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
}

.column-item{
    padding: 10px;
    counter-increment: item-counter;
}

.colum-item-inner{
/*    border-radius: 3px;*/
    position: relative;
    width: 100%;
    overflow: hidden;
}

.inner-icon{
    height: 100%;
    width: 30%;
    float: left;
    background-repeat: no-repeat;
    background-position: 50%;
}

.inner-content{
    margin-left: 30%;
    height: 100%;
    color:#FCFAF2;
    padding: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    cursor: pointer;
}

.inner-content h4{
    text-overflow: ellipsis;
    /* overflow-wrap: normal; */
    overflow: hidden;
}

.inner-content p{
    
}


.movie{
    height: 150px;
    border: 1px solid #00896C;
}

.movie > .inner-content{
    background: #00896C;
}



.music{
    height: 120px;
    border: 1px solid #724938;
}

.music > .inner-content{
    background: #724938;
}



.game{
    height: 130px;
    border: 1px solid #9F353A;
}

.game > .inner-content{
    background: #9F353A;
}




.doc{
    height: 100px;
    border: 1px solid #4E4F97;
}

.doc > .inner-content{
    background: #4E4F97;
}





















.row
{
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding:10px 0 10px 0;
}

.col-container{
    display: flex;

}

.col{
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    justify-content: space-around;
}

.col > *{
    margin-top: 10%;
}

.col-4{
    flex: 4 4 0;
}

.col-6{
    flex: 6 6 0;
}

















.input{
    font-size: 14px;
    font-family: cnx;
    height: 30px;
    align-self: center;
    display: flex;
    width: 200px;
    position: relative;
}


.input-dark > input[type="text"]:only-of-type{
    width: 100%;
    padding: 4px 10px;
    padding-right: 24px;
    padding-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid #113285;
/*    color: #FFE8D1;*/

    border-radius: 2px;
/*    border-right: 0px;*/

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    outline: none;
    
    font-size: 14px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    display: block;

}

.input-dark > input[type="text"]:focus{
    border: 1px solid #211E55;
}




.input-underline > input[type="text"]:only-of-type{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    /* color: #FFE8D1; */
    border-radius: 2px;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
    font-size: 14px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    position: relative;
    z-index: 2;
/*    margin-top: .6em;*/

}

.input-underline >i{
    position: absolute;
    user-select: none;
    z-index: 1;
    font-weight: bold;
    font-size: inherit;
    top: .6em;
    transition: all .2s;
}


.on + i{
    top: -1em;
    font-size: .8em;
}


.text-area{
    resize: none;
    height: 100px;
    width: 100%;
    padding: .78571429em 1em;
    background: transparent;
    border: 1px solid rgba(34,36,38,.15);
    outline: 0;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    line-height: 1.2857;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    font-weight: bold;
}

.text-area:focus{
    border-color: #85b7d9;
}


.file-select{
    width: 100%;
    height: 300px;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 1px 0 rgba(34,36,38,.15);
    background: linear-gradient(to bottom,rgba(189,192,186,.2),rgba(189,192,186,.1));
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    font-weight: 700;
}

.file-select::before{
    content:attr(selected);
    position: absolute;
    top: 40px;
    /* text-align: center; */
    left: 50%;
    transform: translateX(-50%);
}











.submit-button{
    min-height: 1em;
    padding: .78571429em 1.5em .78571429em;
    line-height: 1.42857143;
    text-align: center;
    font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #FFE8D1;
    background: #434343;
    border: none;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    transition: all ease-in-out .15s;

    cursor: pointer;

    outline: none;

    font-family: sans-serif;
    font-weight: 700;
}

.submit-button:disabled{
    opacity: .6;
}


/*.submit-button:active{
    background-color: rgba(130,130,130,1);
    border: 1px solid #434343;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
    color: #6FC4C2;
}*/






.unit{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(34,36,38,.15);

    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    /* border-radius: .28571429rem; */
    min-height: 2.85714286em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    transition: all .2s;
}

.unit-item{
    flex: 1 1 0;
    align-self: center;
    background:transparent; 
    padding: .92857143em 1.14285714em;
    border-right: 1px solid rgba(34,36,38,.15);
    cursor: pointer;
    transition: all .2s;
    text-align: center;
}

.unit-item:last-of-type{
        border-right: none;
}


.unit-item.on{
    background: rgba(145,152,159,.7);
}

.unit-item:hover{
    background: rgba(189,192,186,.7);
}

/*.unit-item {
    
}*/


.tag-container{
    height: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tag-container .content{
    height: 170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.content > span{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.tag-container .add-content{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag{
    width: 80px;
    height: 30px;
/*    padding-left: 10px;*/
    border: 1px solid;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    background: #434343;
    background-clip: content-box;
    color: rgba(252,250,248,1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
}

.tag::before{
    content:'';
    display: none;
    position: absolute;
/*    width: 10px;*/
    /* height: 100%; */
    /* background: cadetblue; */
    left: 0px;
    border-right: 10px solid #434343;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    transition: all .2s;
}


.tag:hover{
    background: #cb1b45;
    background-clip: content-box;
}



.tag:hover::before{
    border-right: 10px solid #cb1b45;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}


.input ~ .tag{
    margin: 0;
    border: 0;
    border-radius: 0;
    padding-left: 0;
}















.process{
    width: 700px;
    height: 3px;
    position: fixed;
    overflow-x: hidden;
    transition: all .3s;
    z-index: 200;
}

.process > div{
    width:0%;
    position: absolute;
    height: 100%;
    transition: all .3s;
    background: linear-gradient(90deg,#3F8B91,#68e3ec,#3F8B91);
    transition: all .1s;
}






/*upload*/


.informationZone{
    width: 50%;
    /* height: 100%; */
    padding: 30px 30px 0 10px ;
}



.dropZone
{
    width: 300px;
    height: 400px;
    background: rgba(209,217,220,.3);
    /* float: right; */
    position: absolute;
    top: 30px;
    right: 20px;
    border: 1px solid #171a21;
    box-shadow: 1px 1px 3px 0px #171a21 inset;
    transition: all .35s;
    text-align: center;
    line-height: 400px;
    font-family: bla;
}

.dropZone:hover{
    background: rgba(13,171,118,.3);
}

.dropZone:after{
    content: '';
    background-image: url('../img/add.png');
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

.dropZone.active{
    background: rgba(13,171,118,.3)
}

.dropZone.active:after{
    content: '';
    background-image: url('../img/filecancel.png');
    background-size: cover;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,100%,0);
    
}

#torrentSubmit{
    font-size: 14px;

    position: absolute;
    left: 280px;
    transition: all 0.3s;
}

#torrentSubmit:hover{
    background: #468189;
    color: #FFE8D1;
}




/*download*/


.downloadBlock{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(16,16,16,.9);
    position: relative;
    box-shadow: inset 0 0 1px 1px rgba(189,192,186,.3);
    transition: all .3s;

}

.downloadBlock.on{
    background: rgba(163,217,216,.2);
}

.downloadBlock > img{
    position: absolute;
    top: 50%;
    transform: translate3d(15px,-50%,0);
    user-select:none;
}

.downloadBlock>div{
    height: 100%;
    width: 85%;
    float: right;
    position: relative;
}

.downloadBlock h4{
    font-family: bla;
    margin-top: 7px;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.downloadBlock p{
    margin-top: 8px;
    font-family: rou;
    font-size: 15px;
}

.downloadProcess{
    min-height: 16px;
    margin-top: 5px;
    width: 450px;

    border: 1px solid #335094;
    border-radius: 5px;
    overflow: hidden;
    /* padding: 1px; */
    /* box-shadow: inset 1px 1px 1px 1px rgb(40,47,47); */
    background: linear-gradient(#252938,#1D202B,#252938);
    position: relative;
}

.downloadProcess > div{
    min-height: 100%;
    transition: all 1s;
    border-top: 1px solid rgba(80,120,180,1);
/*    border-right: 1px solid rgba(82,126,179,1);*/
    border-bottom: 1px solid rgba(55,58,57,1);
/*    border-left: 1px solid rgb(66, 110, 173);*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(rgb(74,118,175),rgb(64,103,166));

/*    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.over{
    background: url('../img/hock1.png');
    width: 48px;
    height: 48px;
    position: absolute;
    right: 50px;
    top: 50%;
    display: block;
    /* float: right; */
    transform: translateY(-50%);
    background-size: cover;
}

.speed{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-family: bla;
}

.downloadVoid{
    text-align: center;
    /* color: #3399FF; */
    font-family: icon;
    font-size: 20px;
    margin-top: 20px;
}

.downloadVoid span{
    cursor: pointer;
    display: block;
    padding: 10px;
    color: #3399FF;
    font-size: large;
}