*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@font-face
{
    font-family: side;

    src: url(../font/DancingScript-Regular.otf);
}

@font-face
{
    font-family: rou;

    src: url(../font/Fontfabric.otf);
}

@font-face
{
    font-family: avr;

    src: url(../font/AvenirLTStd-Book.otf);
}

@font-face
{
    font-family: lato;

    src: url(../font/lato-italic.ttf);
}

@font-face
{
    font-family: icon;

    src: url(../font/icons.ttf);
}

@font-face
{
    font-family: bla;

    src: url(../font/SourceHanSansCN-ExtraLight.otf);
}

@font-face
{
    font-family: Chao;

    src: url('../font/Chrobot.otf');
}

@font-face
{
    font-family: cnX;

    src: url('../font/cnX.ttf');
}

@font-face
{
    font-family: enY;

    src: url('../font/Inconsolata.otf');
}

@font-face
{
    font-family: jpZ;

    src: url('../font/A-OTF-KyokaICAPro-Regular.otf');
}




html,
body
{
    width: 100%;
    height: 100%;

    animation: in .5s ease backwards;

    color: #fcfaf2;
}

@keyframes in
{
    0%
    {
        width: 80%;
        height: 80%;

        opacity: .5;
    }

    100%
    {
        width: 100%;
        height: 100%;

        opacity: 1;
    }
}


@keyframes poll-load
{
    0%
    {
    
    transform: translateY(8px);

    opacity: .7;
    }

    100%
    {
    transform: translateY(0);

    opacity: 1;

    }
}


@keyframes loading
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

#layout
{
    position: relative;

    width: 100%;
    height: 100%;
}






.example-enter
{
    transform: translateZ(100%);

    opacity: .01;
}

.example-enter.example-enter-active
{
    transform: translateZ(0);

    opacity: 1;
    /*  transition: all 200ms ease-in;*/
}

.example-leave
{
    display: none;

    transform: translateX(0);

    opacity: 1;
}

.example-leave.example-leave-active
{
    display: none;

    transform: translateX(100%);

    opacity: .01;
    /*  transition: all 200ms ease-out;*/
}


.tagAni-enter
{
    transform: translateY(50%);

    opacity: .2;
}

.tagAni-enter.tagAni-enter-active
{
    transform: translateY(0);

    opacity: 1;
    /*  transition: all 200ms ease-in;*/
}

.tagAni-leave
{
    transform: translateY(0);

    opacity: 1;
}

.tagAni-leave.tagAni-leave-active
{
    transform: translateY(-50%);

    opacity: .2;
    /*  transition: all 200ms ease-out;*/
}





/*#side{
    position: absolute;

    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: .87;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}*/

/*#side::after
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    background-image: url('../img/moon1.jpg');
    background-size: cover;

}*/

/*#side  span
{
    -webkit-app-region: no-drag;

}*/



#page
{
    position: absolute;
    top: 150px;
    left: 10px;

    width: 80px;

    background-color: white;
}







.main
{
    font-family: sans-serif;

    position: relative;
    z-index: 2;
    right: 0;
    bottom: 0;

    overflow: hidden;

    box-sizing: border-box;
    height: calc(100vh - 40px);
    margin-left: 160px;

    transition: all .2s;

    color: #1c1c1c;
    background-color: rgba(244,247,252,.95);

    -webkit-app-region: no-drag;
}

/*.main::after
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    background-image: linear-gradient(0deg, rgba(8, 8, 8, .01),rgba(29,36,48,.2));

    -webkit-filter: blur(1px);
            filter: blur(1px);
}*/

.app-bar
{
    position: relative;
    z-index: 4;

    display: flex;

    height: 40px;
    margin-left: 160px;
    padding-left: 10px;

    background: rgba(254,254,254,.98);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.6);

    -webkit-app-region: drag;
}

.app-bar *
{
    -webkit-app-region: no-drag;
}

.top-container
{
    position: absolute;
    right: 0;

    display: flex;

    width: 120px;
    height: 100%;
}

.top-item
{
    position: relative;

    display: block;

    height: 100%;
    padding: 10px;

    cursor: pointer;

    flex: 1 1 0;
}

#top-search::after
{
    position: absolute;
    top: 0;
    right: 0;

    width: 16px;
    height: 16px;

    content: '';
    transform: translate3d(-50%,50%,0);

    background: url('../img/搜索.png');
}


.min
{
    transition: all .2s;
}

.min > div
{
    width: 100%;
    height: 100%;

    transition: all .2s;

    background: url('../img/min.png');
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-size: contain;
}

.min:hover
{
    background: #91989f;
}

.min:hover > div
{
    background: url('../img/min-w.png');
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-size: contain;
}



.close
{
    transition: all .3s;
}

.close > div
{
    width: 100%;
    height: 100%;

    transition: all .2s;

    background: url('../img/close.png');
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-size: contain;
}

.close:hover
{
    background: #d0104c;
}

.close:hover > div
{
    background: url('../img/close-w.png');
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-size: contain;
}


.sideBar
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 160px;
    height: 100%;

    transition: all .2s;

    background: rgba(48,51,60,1);
    box-shadow: 0 0 8px 2px rgba(0,0,0,.6);
}


.visiable
{
    width: 0;
}

.visiable + div
{
    margin-left: 0;
}

.side-item
{
    font-family: bla;
    font-size: 14px;

    position: relative;

    display: flex;

    width: 100%;
    padding: 10px 20px;

    cursor: pointer;
    transition: all .3s;

    align-items: center;
}

.side-item:hover
{
    /*    background: rgba(67,67,67,.5);*/
}


.item-active
{
    background: rgba(38, 41, 48, 1);
    box-shadow: inset 0 0 6px rgba(0,0,0,.6);
}

.item-active::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    content: '';

    background: rgba(89,158,249,1);
}

#logo
{
    font-family: Chao;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;

    height: 40px;

    cursor: context-menu;
    user-select: none;
    text-align: center;
}













.mainSection
{
    position: relative;

    overflow-x: hidden;

    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

.banner
{
    position: sticky;

    display: flex;

    height: 50px;
    margin: 10px;

    background: rgba(38,41,48,.9);
    background-clip: content-box;
    box-shadow: 0 0 6px rgba(0,0,0,.6);

    align-items: center;
    justify-content: space-between;
    z-index: 1;

    top: 0;
}

.banner > *
{
    z-index: 1;
}

.banner-item
{
    font-family: cnx;

    display: flex;

    height: 100%;

    text-align: center;

    color: rgba(252,252,252,1);

    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.banner-item > input
{
    display: none;
}

.banner-item input:checked + label
{
    background: rgb(31,32,37);
}

.banner-item label
{
    display: flex;

    width: 100%;
    height: 100%;

    cursor: pointer;

    color: white;

    justify-content: center;
    align-items: center;
}

.banner-fresh
{
    position: relative;

    width: 50px;
    height: 100%;

    cursor: pointer;
}

.banner-fresh::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 32px;
    height: 32px;

    content: '';
    transform: translate3d(-50%,-50%,0);

    background-image: url('../img/刷新.png');
    background-size: cover;
}


/*.optionBar{
    display: flex;
    width: 100%;
    height: 50px;
    background: #0072d8;
}

.optionBar-item{
    display: flex;
    padding: 0 30px;
    align-items: center;
    font-family: cnx;
    font-weight: 900;
}*/

.veil
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    transition: all .3s;

    background: rgba(83,89,83,.85);

    align-items: center;
    justify-content: center;
}

.veil p
{
    font-size: larger;

    position: relative;

    padding-top: 60px;

    text-align: center;

    color: rgba(248,248,248,1);
}

.veil p::before
{
    position: absolute;
    top: 0;
    left: 50%;

    box-sizing: border-box;
    width: 36px;
    height: 36px;

    content: '';
    transform: translateX(-50%);

    border: 4px solid rgba(255,255,255,.15);
    border-radius: 50%;
}

.veil p::after
{
    position: absolute;
    top: 0;
    left: 50%;

    box-sizing: border-box;
    width: 36px;
    height: 36px;
    margin: 0 0 0 -18px;

    content: '';
    animation: loading 2s linear infinite;

    border: 4px solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
}


::-webkit-scrollbar
{
    width: 6px;
    height: 9px;

    background: white;
}

::-webkit-scrollbar-thumb
{
    border: 1px solid white;
    border-radius: 6px;
    background-color: #0f2540;
}


.poll
{
    display: flex;
    /*    background: #A5DEE4;*/
    flex-direction: row;
    /* height: 100vh; */

    width: 100%;
}


.column
{
    display: flex;
    flex-direction: column;

    width: calc(100%/3);
}

.column-item
{
    padding: 10px;

    counter-increment: item-counter;

    animation: poll-load .3s linear;
}

.colum-item-inner
{
    /*    border-radius: 3px;*/
    position: relative;

    overflow: hidden;

    width: 100%;
}

.inner-icon
{
    float: left;

    width: 30%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50%;
}

.inner-content
{
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';

    height: 100%;
    margin-left: 30%;
    padding: 10px;

    cursor: pointer;

    color: #fcfaf2;
}

.inner-content h4
{
    /* overflow-wrap: normal; */
    overflow: hidden;

    text-overflow: ellipsis;
}




.movie
{
    height: 150px;

    border: 1px solid #00896c;
}

.movie > .inner-content
{
    background: #00896c;
}



.music
{
    height: 120px;

    border: 1px solid #724938;
}

.music > .inner-content
{
    background: #724938;
}



.game
{
    height: 130px;

    border: 1px solid #9f353a;
}

.game > .inner-content
{
    background: #9f353a;
}




.doc
{
    height: 100px;

    border: 1px solid #4e4f97;
}

.doc > .inner-content
{
    background: #4e4f97;
}





















.row
{
    display: flex;

    width: 100%;
    padding: 10px 0 10px 0;

    justify-content: space-around;
}

.col-container
{
    display: flex;
    height: 100%;
}

.col
{
    display: flex;
    flex-direction: column;

    padding: 12px;

    align-items: center;
    justify-content: space-around;
}

.col > *
{

}

.col-4
{
    flex: 4 4 0;
}

.col-6
{
    flex: 6 6 0;
}

















.input
{
    font-family: cnx;
    font-size: 14px;

    position: relative;

    display: flex;

    height: 30px;

    align-self: center;
}

.input > label{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    font-weight: bold;
    line-height: 1.2857;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input > input[type='text']
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    font-size: 14px;

    display: block;

    width: 100%;
    padding-right: 24px;
    padding-bottom: 0;
    /*    padding: 4px 10px;*/
    padding-left: 6px;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    border: 1px solid rgba(34,36,38,.25);
    /*    color: #FFE8D1;*/
    border-radius: 2px;
    outline: none;
    background-color: transparent;
    background-image: none;
    /*    border-right: 0px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input.right >input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input > input[type='text']:focus
{
    border: 1px solid rgba(89,158,249,1);
}





.text-area
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    font-weight: bold;
    line-height: 1.2857;

    width: 100%;
    height: 100px;
    padding: .78571429em 1em;

    resize: none;
    -webkit-transition: color .1s ease,border-color .1s ease;
            transition: color .1s ease,border-color .1s ease;

    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    outline: 0;
    background: transparent;
    box-shadow: 0 0 0 0 transparent inset;
}

.text-area:focus
{
    border-color: rgba(89,158,249,1);
}


.file-select
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;
    font-weight: 700;

    position: relative;

    display: flex;

    width: 100%;
    height: 300px;

    border: 1px solid rgba(34,36,38,.15);
    background: linear-gradient(to bottom,rgba(189,192,186,.2),rgba(189,192,186,.1));
    box-shadow: 0 1px 1px 0 rgba(34,36,38,.15);

    align-items: center;
    justify-content: center;
}

.file-select::before
{
    position: absolute;
    top: 40px;
    /* text-align: center; */
    left: 50%;

    content: attr(selected);
    transform: translateX(-50%);
}











.submit-button
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.42857143;

    min-height: 1em;
    padding: .78571429em 1.5em .78571429em;

    cursor: pointer;
    transition: all ease-in-out .15s;
    text-align: center;

    color: #ffe8d1;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #434343;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.submit-button:disabled
{
    opacity: .6;
}


/*.submit-button:active{
    background-color: rgba(130,130,130,1);
    border: 1px solid #434343;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
    color: #6FC4C2;
}*/






.unit
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;

    display: flex;
    flex-direction: row;

    height: 30px;
    border-radius: .28571429rem; 
/*    min-height: 2.85714286em;*/

    transition: all .2s;

/*    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);*/
    justify-content: center;
    align-items: center;
}

.unit-item
{
    display: flex;

    height: 100%;
/*    width: 60px;*/
    max-width: 100px;
    padding: .92857143em 1.14285714em;
    
    cursor: pointer;
    transition: all .2s;
    text-align: center;

    background: transparent;
    border:1px solid rgba(34,36,38,.25);


    flex: 1 1 0;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
}

.unit-item:first-of-type
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.unit-item:last-of-type
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}


.unit-item.on
{
    color: rgba(89,158,249,1);
    border-color: rgba(89,158,249,1);
}

.unit-item:hover
{

}

/*.unit-item {
    
}*/


.tag-container
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 200px;
}

.tag-container .content
{
    display: flex;

    width: 100%;
    height: 170px;
    padding: 10px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.content > span
{
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-container .add-content
{
    display: flex;

    width: 100%;
    height: 40px;

    align-items: center;
    justify-content: center;
}

.tag
{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif,bla;

    position: relative;

    display: flex;

    width: 80px;
    height: 30px;

    cursor: pointer;
    transition: all .2s;

    color: rgba(252,250,248,1);
    /*    padding-left: 10px;*/
    border: 1px solid;
    border-radius: 4px;
    background: #434343;
    background-clip: content-box;

    justify-content: center;
    align-items: center;
}

.tag::before
{
    position: absolute;
    /*    width: 10px;*/
    /* height: 100%; */
    /* background: cadetblue; */
    left: 0;

    display: none;

    content: '';
    transition: all .2s;

    border-top: 14px solid transparent;
    border-right: 10px solid #434343;
    border-bottom: 14px solid transparent;
}


.tag:hover
{
    background: #cb1b45;
    background-clip: content-box;
}



.tag:hover::before
{
    border-top: 14px solid transparent;
    border-right: 10px solid #cb1b45;
    border-bottom: 14px solid transparent;
}


.input ~ .tag
{
    margin: 0;
    padding-left: 0;

    border: 0;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}















.process
{
    position: fixed;
    z-index: 200;

    overflow-x: hidden;

    width: 700px;
    height: 3px;

    transition: all .3s;
}

.process > div
{
    position: absolute;

    width: 0;
    height: 100%;

    transition: all .3s;
    transition: all .1s;

    background: linear-gradient(90deg,#3f8b91,#68e3ec,#3f8b91);
}






/*upload*/


.informationZone
{
    width: 50%;
    /* height: 100%; */
    padding: 30px 30px 0 10px ;
}



.dropZone
{
    font-family: bla;
    line-height: 400px;
    /* float: right; */

    position: absolute;
    top: 30px;
    right: 20px;

    width: 300px;
    height: 400px;

    transition: all .35s;
    text-align: center;

    border: 1px solid #171a21;
    background: rgba(209,217,220,.3);
    box-shadow: 1px 1px 3px 0 #171a21 inset;
}

.dropZone:hover
{
    background: rgba(13,171,118,.3);
}

.dropZone:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 64px;
    height: 64px;

    content: '';
    transform: translate3d(-50%,-50%,0);

    background-image: url('../img/add.png');
    background-size: cover;
}

.dropZone.active
{
    background: rgba(13,171,118,.3);
}

.dropZone.active:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 48px;
    height: 48px;

    content: '';
    transform: translate3d(-50%,100%,0);

    background-image: url('../img/filecancel.png');
    background-size: cover;
}

#torrentSubmit
{
    font-size: 14px;

    position: absolute;
    left: 280px;

    transition: all .3s;
}

#torrentSubmit:hover
{
    color: #ffe8d1;
    background: #468189;
}




/*download*/


.downloadBlock
{
    position: relative;

    width: 100%;
    height: 90px;

    transition: all .3s;

    border-bottom: 1px solid rgba(16,16,16,.9);
    box-shadow: inset 0 0 1px 1px rgba(189,192,186,.3);
}

.downloadBlock.on
{
    background: rgba(163,217,216,.2);
}

.downloadBlock > img
{
    position: absolute;
    top: 50%;

    user-select: none;
    transform: translate3d(15px,-50%,0);
}

.downloadBlock > div
{
    position: relative;

    float: right;

    width: 85%;
    height: 100%;
}

.downloadBlock h4
{
    font-family: bla;

    overflow: hidden;

    width: 400px;
    margin-top: 7px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.downloadBlock p
{
    font-family: rou;
    font-size: 15px;

    margin-top: 8px;
}

.downloadProcess
{
    position: relative;

    overflow: hidden;

    width: 450px;
    min-height: 16px;
    margin-top: 5px;

    border: 1px solid #335094;
    border-radius: 5px;
    /* padding: 1px; */
    /* box-shadow: inset 1px 1px 1px 1px rgb(40,47,47); */
    background: linear-gradient(#252938,#1d202b,#252938);
}

.downloadProcess > div
{
    /*    border-left: 1px solid rgb(66, 110, 173);*/
    position: absolute;
    top: 50%;

    min-height: 100%;

    transition: all 1s;
    transform: translateY(-50%);

    border-top: 1px solid rgba(80,120,180,1);
    /*    border-right: 1px solid rgba(82,126,179,1);*/
    border-bottom: 1px solid rgba(55,58,57,1);
    background: linear-gradient(rgb(74,118,175),rgb(64,103,166));

    /*    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.over
{
    position: absolute;
    top: 50%;
    right: 50px;

    display: block;

    width: 48px;
    height: 48px;
    /* float: right; */

    transform: translateY(-50%);

    background: url('../img/hock1.png');
    background-size: cover;
}

.speed
{
    font-family: bla;

    position: absolute;
    top: 50%;
    right: 50px;

    transform: translateY(-50%);
}

.downloadVoid
{
    /* color: #3399FF; */
    font-family: icon;
    font-size: 20px;

    margin-top: 20px;

    text-align: center;
}

.downloadVoid span
{
    font-size: large;

    display: block;

    padding: 10px;

    cursor: pointer;

    color: #39f;
}
