* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: avr;
  src: url(../font/avenirnextregular.otf);
}

/*@font-face {
  font-family:hys;
  src: url(../font/HYSongYunLangHeiW.ttf);
}*/

@font-face {
  font-family: icon;
  src: url(../font/icons.ttf);
}

@font-face {
  font-family: bla;
  src: url(../font/SourceHanSansCN-ExtraLight.otf);
}

@font-face {
  font-family: Chao;
  src: url('../font/Chrobot.otf');
}

/*@font-face {
  font-family: cnX;
  src: url('../font/cnX.ttf');
}*/

@font-face {
  font-family: enY;
  src: url('../font/Inconsolata.otf');
}

@font-face {
  font-family: hel;
  src: url('../font/Helvetica.ttf');
}

@font-face {
  font-family: hyz;
  src: url('../font/hyz.ttf');
}

@font-face {
  font-family: hyb;
  src: url('../font/hyb.ttf');
}

@font-face {
  font-family: cal;
  src: url('../font/calibri.ttf');
}

@font-face {
	font-family: nexa;
	src: url('../font/Nexa Light.otf');
}

@font-face {
  font-family: lt;
  src: url('../font/lt.ttf');
}

@font-face {
  font-family: hyq;
  src: url('../font/HYQiHei-50S Light.ttf');
}

@font-face {
  font-family: ari;
  src: url('../font/Arial-Regular.ttf');
}

html, body {
  width: 100%;
  height: 100%;
  animation: in .5s ease backwards;
  color: #fcfaf2;
  font-family: ari,hyq;
}

@keyframes in {
  0% {
    width: 80%;
    height: 80%;
    opacity: .5;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes poll-load {
  0% {
    transform: translateY(8px);
    opacity: .7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-ing {
  0% {
    width: 0%;
    opacity: .6
  }
  100% {
    width: 100%;
    opacity: 0
  }
}

#layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.example-enter {
  transform: translateZ(100%);
  opacity: .01;
}

.example-enter.example-enter-active {
  transform: translateZ(0);
  opacity: 1;
  /*  transition: all 200ms ease-in;*/
}

.example-leave {
  display: none;
  transform: translateX(0);
  opacity: 1;
}

.example-leave.example-leave-active {
  display: none;
  transform: translateX(100%);
  opacity: .01;
  /*  transition: all 200ms ease-out;*/
}

.tagAni-enter {
  transform: translateY(50%);
  opacity: .2;
}

.tagAni-enter.tagAni-enter-active {
  transform: translateY(0);
  opacity: 1;
  /*  transition: all 200ms ease-in;*/
}

.tagAni-leave {
  transform: translateY(0);
  opacity: 1;
}

.tagAni-leave.tagAni-leave-active {
  transform: translateY(-50%);
  opacity: .2;
  /*  transition: all 200ms ease-out;*/
}

/*#side{
    position: absolute;

    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: .87;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}*/

/*#side::after
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    background-image: url('../img/moon1.jpg');
    background-size: cover;

}*/

/*#side  span
{
    -webkit-app-region: no-drag;

}*/

#page {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 80px;
  background-color: white;
}

.main {
  /*font-family: sans-serif;*/
  position: relative;
  z-index: 2;
  right: 0;
  bottom: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  transition: all .2s;
  color: #1c1c1c;
  background-color: rgba(255, 255, 254, .95);
  -webkit-app-region: no-drag;
}

/*.main::after
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: inherit;
    background-image: linear-gradient(0deg, rgba(8, 8, 8, .01),rgba(29,36,48,.2));

    -webkit-filter: blur(1px);
            filter: blur(1px);
}*/

.app-bar {
  position: relative;
  z-index: 4;
  display: flex;
  height: 40px;
  padding-left: 10px;
  background: rgba(254, 254, 254, .98);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, .6);
  -webkit-app-region: drag;
}

.app-bar * {
  -webkit-app-region: no-drag;
}

.top-container {
  position: absolute;
  right: 0;
  display: flex;
  width: 120px;
  height: 100%;
}

.tip-icon {
  width: 20px;
  height: 20px;
  background-image: url(../img/message.png);
  position: relative;
  left: 350px;
  align-self: center;
  cursor: pointer;
}

.tip {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: rgba(48, 51, 60, 1);
  transition: all .3s;
  top: 28px;
  left: -40px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .6);
  display: none;
}

.tip::before {
  content: '';
  position: absolute;
  /* border-color: rgb(30, 33, 41); */
  border-bottom: 10px solid rgb(30, 33, 41);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.tip-icon.open>.tip {
  display: block;
}

.top-item {
  position: relative;
  display: block;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  flex: 1 1 0;
}

#top-search {
  width: 180px;
}

#top-search>input {
  padding-right: 24px;
}

#top-search::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  content: '';
  transform: translate3d(-50%, 50%, 0);
  background: url('../img/搜索.png');
}

.min {
  transition: all .2s;
}

.min>div {
  width: 100%;
  height: 100%;
  transition: all .2s;
  background: url('../img/min.png');
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-size: contain;
}

.min:hover {
  background: #91989f;
}

.min:hover>div {
  background: url('../img/min-w.png');
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-size: contain;
}

.close {
  transition: all .3s;
}

.close>div {
  width: 100%;
  height: 100%;
  transition: all .2s;
  background: url('../img/close.png');
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-size: contain;
}

.close:hover {
  background: #d0104c;
}

.close:hover>div {
  background: url('../img/close-w.png');
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-size: contain;
}

.sideBar {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 160px;
  height: 100%;
  transition: all .2s;
  background: rgba(48, 51, 60, 1);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .6);
}

.visiable {
  width: 0;
}

.visiable+div {
  margin-left: 0;
}

.side-item {
  font-family: bla;
  font-size: 14px;
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
}

.side-item:hover {
  /*    background: rgba(67,67,67,.5);*/
}

.item-active {
  background: rgba(38, 41, 48, 1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
}

.item-active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  content: '';
  background: rgba(89, 158, 249, 1);
}

#logo {
  font-family: Chao;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  cursor: context-menu;
  user-select: none;
  text-align: center;
}

.mainSection {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

.banner {
  position: sticky;
  display: flex;
  height: 50px;
  margin: 10px;
  background: rgba(38, 41, 48, .9);
  background-clip: content-box;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  top: 0;
}

.banner>* {
  z-index: 1;
}

.banner-item {
  font-family: cal,hyz;
  display: flex;
  height: 100%;
  text-align: center;
  color: rgba(252, 252, 252, 1);
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.banner-item>input {
  display: none;
}

.banner-item input:checked+label {
  background: rgb(31, 32, 37);
}

.banner-item label {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  justify-content: center;
  align-items: center;
}

.banner-fresh {
  position: relative;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.banner-fresh::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  content: '';
  transform: translate3d(-50%, -50%, 0);
  background-image: url('../img/刷新.png');
  background-size: cover;
}

/*.optionBar{
    display: flex;
    width: 100%;
    height: 50px;
    background: #0072d8;
}

.optionBar-item{
    display: flex;
    padding: 0 30px;
    align-items: center;
    font-family: cnx;
    font-weight: 900;
}*/

.veil {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  transition: all .3s;
  background: rgba(83, 89, 83, .85);
  align-items: center;
  justify-content: center;
}

.veil p {
  font-size: larger;
  position: relative;
  padding-top: 60px;
  text-align: center;
  color: rgba(248, 248, 248, 1);
}

.veil p::before {
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  content: '';
  transform: translateX(-50%);
  border: 4px solid rgba(255, 255, 255, .15);
  border-radius: 50%;
}

.veil p::after {
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin: 0 0 0 -18px;
  content: '';
  animation: loading 2s linear infinite;
  border: 4px solid;
  border-color: white transparent transparent transparent;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 1px solid white;
  border-radius: 6px;
  background-color: #0f2540;
}

.poll {
  display: flex;
  /*    background: #A5DEE4;*/
  flex-direction: row;
  /* height: 100vh; */
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
}

.column-item {
  padding: 10px;
  counter-increment: item-counter;
  animation: poll-load .3s linear;
}

.colum-item-inner {
  /*    border-radius: 3px;*/
  position: relative;
  overflow: hidden;
  width: 100%;
}

.inner-icon {
  float: left;
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.inner-content {
  height: 100%;
  margin-left: 30%;
  padding: .5em;
  cursor: pointer;
  /*color: #fcfaf2;*/
}

.inner-content div {
  /* overflow-wrap: normal; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: ari,hyq;
  font-size: 22px;
}

.inner-content p {
  word-break: break-all;
  font-size: 14px;
  font-family: ari,hyq;
}

.movie {
  height: 150px;
  border: 1px solid #00896c;
}

.movie>div:first-of-type {
  background-image: url('../img/movie.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #00896c;
}

.movie>.inner-content {

}

.music {
  height: 120px;
  border: 1px solid #724938;
}

.music>div:first-of-type {
  background-image: url('../img/music.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #724938;
}

.music>.inner-content {

}

.game {
  height: 130px;
  border: 1px solid #9f353a;
}

.game>div:first-of-type {
  background-image: url('../img/game.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #9f353a;
}

.game>.inner-content {

}

.doc {
  height: 100px;
  border: 1px solid #4e4f97;
}

.doc>div:first-of-type {
  background-image: url('../img/doc.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #4e4f97;
}

.doc>.inner-content {

}

.row {
  display: flex;
  width: 100%;
  padding: 10px 0 10px 0;
  justify-content: space-around;
}

.col-container {
  display: flex;
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col>* {}

.col-2 {
  flex: 2 2 0;
}

.col-3 {
  flex: 4 4 0;
}

.col-4 {
  flex: 4 4 0;
}

.col-5 {
  flex: 5 5 0;
}

.col-6 {
  flex: 6 6 0;
}

.input {
  font-size: 14px;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 30px;
  align-self: center;
}

.input>label {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, bla;*/
  font-weight: bold;
  line-height: 1.2857;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input>input {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, hys;*/
  font-family: inherit;
  font-size: 14px;
  display: block;
  width: 100%;
  padding-bottom: 0;
  /*    padding: 4px 10px;*/
  padding-left: 6px;
  padding-right: 6px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 1px solid rgba(34, 36, 38, .25);
  /*    color: #FFE8D1;*/
  border-radius: .28571429rem;
  outline: none;
  background-color: transparent;
  background-image: none;
  /*    border-right: 0px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  line-height:28px;
}

.input.right>input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input>input:focus {
  border: 1px solid rgba(89, 158, 249, 1);
}

.text-area {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, cnx, bla;*/
  /*font-weight: bold;*/
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2857;
  width: 100%;
  height: 100px;
  padding: .78571429em 1em;
  resize: none;
  -webkit-transition: color .1s ease, border-color .1s ease;
  transition: color .1s ease, border-color .1s ease;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .3);
  border-radius: .28571429rem;
  outline: 0;
  background: transparent;
  box-shadow: 0 0 0 0 transparent inset;
}

.text-area:focus {
  border-color: rgba(89, 158, 249, 1);
}

.file-select {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, bla;
  font-weight: 700;*/
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid rgba(34, 36, 38, .15);
  background: linear-gradient(to bottom, rgba(189, 192, 186, .2), rgba(189, 192, 186, .1));
  box-shadow: 0 1px 1px 0 rgba(34, 36, 38, .15);
  align-items: center;
  justify-content: center;
}

.file-select::before {
  position: absolute;
  top: 40px;
  /* text-align: center; */
  left: 50%;
  content: attr(selected);
  transform: translateX(-50%);
}

.submit-button {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-family: sans-serif;*/
  font-weight: 700;
  line-height: 1.42857143;
  min-height: 1em;
  padding: .78571429em 1.5em .78571429em;
  cursor: pointer;
  transition: all ease-in-out .15s;
  text-align: center;
  color: #ffe8d1;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #434343;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.submit-button:disabled {
  opacity: .6;
}

/*.submit-button:active{
    background-color: rgba(130,130,130,1);
    border: 1px solid #434343;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
    color: #6FC4C2;
}*/

.unit {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, bla;*/
  display: flex;
  flex-direction: row;
  height: 30px;
  border-radius: .28571429rem;
  /*    min-height: 2.85714286em;*/
  transition: all .2s;
  /*    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);*/
  justify-content: center;
  align-items: center;
}

.unit-item {
  display: flex;
  height: 100%;
  /*    width: 60px;*/
  max-width: 100px;
  padding: .92857143em 1.14285714em;
  cursor: pointer;
  transition: all .2s;
  text-align: center;
  background: transparent;
  border: 1px solid rgba(34, 36, 38, .25);
  flex: 1 1 0;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
}

.unit-item:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.unit-item:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.unit-item.on {
  color: rgba(89, 158, 249, 1);
  border-color: rgba(89, 158, 249, 1);
}

.unit-item:hover {}

/*.unit-item {

}*/

.tag-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

.tag-container .content {
  display: flex;
  width: 100%;
  height: 170px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content>span {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag-container .add-content {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.tag {
  /*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, bla;*/
  position: relative;
  display: flex;
  width: 80px;
  height: 30px;
  cursor: pointer;
  transition: all .2s;
  color: rgba(252, 250, 248, 1);
  /*    padding-left: 10px;*/
  border: 1px solid;
  border-radius: 4px;
  background: #434343;
  background-clip: content-box;
  justify-content: center;
  align-items: center;
}

.tag::before {
  position: absolute;
  /*    width: 10px;*/
  /* height: 100%; */
  /* background: cadetblue; */
  left: 0;
  display: none;
  content: '';
  transition: all .2s;
  border-top: 14px solid transparent;
  border-right: 10px solid #434343;
  border-bottom: 14px solid transparent;
}

.tag:hover {
  background: rgba(89, 158, 249, 1);
  background-clip: content-box;
}

.tag:hover::before {
  border-top: 14px solid transparent;
  border-right: 10px solid rgba(89, 158, 249, 1);
  border-bottom: 14px solid transparent;
}

.input~.tag {
  margin: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  border-top-right-radius: .28571429rem;
  border-bottom-right-radius: .28571429rem;
  font-size: small;
}

/*.process
{
    position: fixed;
    z-index: 200;

    overflow-x: hidden;

    width: 700px;
    height: 3px;

    transition: all .3s;
}

.process > div
{
    position: absolute;

    width: 0;
    height: 100%;

    transition: all .3s;
    transition: all .1s;

    background: linear-gradient(90deg,#3f8b91,#68e3ec,#3f8b91);
}*/

/*upload*/

.upload-col {
  padding: 12px;
}

.informationZone {
  width: 50%;
  /* height: 100%; */
  padding: 30px 30px 0 10px;
}

.dropZone {
  /*font-family: bla;*/
  line-height: 400px;
  /* float: right; */
  position: absolute;
  top: 30px;
  right: 20px;
  width: 300px;
  height: 400px;
  transition: all .35s;
  text-align: center;
  border: 1px solid #171a21;
  background: rgba(209, 217, 220, .3);
  box-shadow: 1px 1px 3px 0 #171a21 inset;
}

.dropZone:hover {
  background: rgba(13, 171, 118, .3);
}

.dropZone:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  content: '';
  transform: translate3d(-50%, -50%, 0);
  background-image: url('../img/add.png');
  background-size: cover;
}

.dropZone.active {
  background: rgba(13, 171, 118, .3);
}

.dropZone.active:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  content: '';
  transform: translate3d(-50%, 100%, 0);
  background-image: url('../img/filecancel.png');
  background-size: cover;
}

#torrentSubmit {
  font-size: 14px;
  position: absolute;
  left: 280px;
  transition: all .3s;
}

#torrentSubmit:hover {
  color: #ffe8d1;
  background: #468189;
}

/*download*/

#download-bar {
  margin-top: 20px;
}

.block-table {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.download-null {
  text-align: center;
  margin-top: 150px;
  font-size: x-large;
  font-family: bla;
}

/*.block-title {
  display: flex;
  margin-bottom: 10px;
  font-family: bla;
  font-weight: bold;
  font-size: small;
}

.block-title>div {
  flex: 1 1 0;
  padding-left: 10px;
}*/

.block-item {
  display: flex;
  height: 56px;
  line-height: 56px;
  margin-bottom: 20px;
  background: linear-gradient(rgba(33, 34, 39, .81), rgba(31, 31, 31, .85) 30%, rgba(24, 25, 29, .87));
  color: rgb(235, 239, 232);
  box-shadow: 1px 4px 9px 0px rgba(8, 8, 8, .5);
  /*font-family: avr, bla;*/
  font-size: 15px;
  position: relative;
}

.block-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  width: 6px;
  height: 100%;
  background-color: inherit;
  transition: all .3s;
  background: #CB1B45;
}

.block-item.on::before {
  background: rgba(89, 158, 249, 1);
}

.block-content {
  flex: 1 1 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  line-height: 100%;
  word-break: break-all;
}

.block-content.block-content-1 {
  flex: 1 1 0;
}

.block-content.block-content-2 {
  flex: 2 2 0;
}

.block-content.block-content-3 {
  flex: 3 3 0;
}

.process {
  width: 100%;
  height: .5em;
  background: rgba(0, 0, 0, .9);
  border-radius: 2px;
}

.process>div {
  position: relative;
  background: rgba(89, 158, 249, 1);
  transition: all .3s;
  height: inherit;
  border-radius: 2px;
}

.process.on>div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, rgba(250, 248, 248, .1), rgba(250, 248, 248, .7));
  animation: progress-ing 2s ease infinite;
}

/*///////////////////////////////////*/

.item-group {
  width: 100%;
  height: 100%;
}

.item {
  border-bottom: 1px solid #a09c9c;
  border-left: none;
  border-top: none;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.item-title {
  font-size: 16px;
}

.item-content {
  font-size: small;
}

.item-tip {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #d23433;
  color: white;
  font-family: rou;
  font-size: small;
  border-radius: 4px;
  padding: 2px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}







.search{
  position: relative;
  width: 100%;
  transition: height .3s;
}

.search input{
  border-radius: 0;
  border-right: none;
}


.search .searchResult{
  /*height: 0;*/
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(34, 36, 38, .25);
  background: rgba(247, 248, 251, 0.95);
  margin-top: -1px;
}

.result-item:hover{
  background: rgb(241, 241, 241);
}

.searchResult .result-item{
  padding: .3em;
  cursor: pointer;
}

.searchResult .result-item .header{
  font-family: avr,hyz;
  font-weight: bold;
}

.searchResult .result-item .meta{
  font-size: small;
  font-family: avr,hyz;
}

.chat-user {
  background-color: rgb(255, 255, 253);
  border-right: 1px solid rgba(8,8,8,.3);
  z-index: 1;
}

.chat-content {
  background-color: rgb(241, 241, 241);
  position: relative;
}

.chat-content > p{
  font-family: bla;
  font-size: x-large;
}

.chat-header{
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: rgba(8,8,8,.8);
  border-bottom: 1px solid;
  color: white;
}

.chat-list{
  flex: 1 1 0;
  width: 100%;
  overflow-x:hidden;
  display: flex;
  flex-direction: column;
}

.chat-footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
}

.chat-footer  input{
  border-radius: 0;
}

.chat-footer > button{
    display: block;
    width: 100px;
    color: inherit;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    text-decoration: none;
    justify-content: center;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    background-color: #2196f3;
    transition: all .2s;
}

.chat-footer > button:hover{
    background-color: #1976d2;
}

.chat-footer > button:active{
    background-color: #23679e;
}

.chat-block{
  align-self: flex-start;
  padding: 20px;
  border: 1px solid rgba(8,8,8,.3);
  max-width: 300px;
  word-break: break-all;
  word-wrap: break-word;
  margin: 10px;
  max-width: 50%;
  background: white;
  min-width: 30%;
}

.chat-block.own{
  align-self: flex-end;
  background: rgba(96, 243, 115, 0.87);

}
