@font-face
{
    font-family: title;

    src: url(../font/thinfont-thin.ttf);
}

@font-face
{
    font-family: cam;

    src: url(../font/Hyperspace.ttf);
}

@font-face
{
    font-family: vamp;

    src: url(../font/VAMPG___.TTF);
}

@font-face
{
    font-family: bla;

    src: url(../font/SourceHanSansCN-ExtraLight.otf);
}

@keyframes in
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    width: 100%;
    height: 100%;

    animation: in .5s ease backwards;
}

header
{
    font-family: cam,bla;

    position: relative;

    width: 100%;
    height: 80px;
    padding: 10px;
    padding-left: 20px;

    color: #fcfaf2;
    background: #0c0c0c;

    -webkit-app-region: drag;
}

header span
{
    position: absolute;
    top: 0;
    right: 0;

    width: 32px;
    height: 32px;

    cursor: pointer;
    transition: all .3s;

    background-image: url(../img/login-close.png);

    -webkit-app-region: no-drag;
}

header span:hover
{
    background-image: url(../img/login-close-on.png);
}

#main
{
    position: relative;

    display: flex;
    flex-direction: row;

    height: 100%;

    align-items: center;
    justify-content: center;
}

#login
{
    background: rgba(35,37,51,1);
}

#register
{
    background: #fffffb;
}


.panel
{
    position: relative;

    height: 80%;

    transition: all .6s;

    flex: 1 1 0;
}

.on
{
    height: 100%;

    flex: 2 2 0;
}


.panel button
{
    font-size: 18px;

    position: absolute;
    bottom: 80px;

    display: flex;

    width: 100%;
    height: 50px;

    cursor: pointer;
    transition: all .5s;

    border: none;
    outline: none;

    justify-content: center;
    align-items: center;
}

.panel button:disabled
{
    opacity: .7;
}

#login button
{
    color: white;
    background: rgb(79, 82, 111);
}

#login button:hover
{
    background-color: rgb(104, 108, 144);
}

#register button
{
    color: white;
    background: rgb(97,189,85);
}


#register button:hover
{
    background: rgb(116, 222, 102);
}


.panel.on button
{
    bottom: 0;
}


#register > h3
{
    font-family: bla;

    width: 100%;
    height: 50px;
    padding: 20px;

    transition: all .3s;

    opacity: 0;
    color: #878e83;
}

#register > h2
{
    font-family: bla;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50px;

    transition: all .3s;

    color: #878e83;

    justify-content: center;
    align-items: center;
}

#register.on > h3
{
    font-family: bla;

    width: 100%;
    height: 50px;

    opacity: 1;
    color: #878e83;
}

#register.on > h2
{
    font-family: bla;

    width: 100%;
    height: 50px;

    opacity: 0;
    color: #878e83;
}


.form .other
{
    display: none;
}

.form-right .other
{
    display: flex;
}









.form
{
    position: absolute;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 66.7%;
    padding: 40px;

    transition: all .5s;
}

.form > div
{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.form  small
{

    color: #878e83;
}

.form  input
{
    font-family: bla;
    font-size: 20px;
    font-weight: 600;

    position: relative;

    margin-bottom: 10px;

    transition: all .3s;

    color: #878e83;
    border: none;
    border-bottom: 2px solid;
    border-radius: 2px;
    outline: none;
    background-color: transparent;
}

.form-right .err
{
    border-bottom: 2px solid #cb1b45;
}

.err-message
{
    text-align: center;

    color: #cb1b45;
}

.form-right
{
    left: 33.3%;
}
